<h2>Usuario ya existente</h2>
<div class="container w-50 d-flex justify-content-center">
    <button onclick="location.href='/login'" class="btn btn-primary w-25 align-center">Ir a inicio de sesión</button>
</div>