<h1>Inicio de sesión</h1>
<div class="container w-50">
    <form id="login" action='/users/login' method='post'>
        <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="container w-100 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary w-25">Iniciar sesión</button>
        </div>
    </form>
</div>
<br>
<div class="container w-50 d-flex justify-content-center">
  <button onclick="location.href='/users/github'" class="btn btn-primary w-25">Iniciar sesión con GitHub</button>
</div>

<h2>¿Usuario nuevo?</h2>
<div class="container w-50 d-flex justify-content-center">
  <button onclick="location.href='/register'" class="btn btn-primary w-25">Regístrate</button>
</div>