<h1>Registro de nuevo usuario</h1>

<div class="container w-50">
  <form action='/api/users/register' method="post">
      <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type='text' name='first_name' id='first_name' class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type='text' name='last_name' id='last_name' class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type='email' name='email' id='email' class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Edad</label>
        <input type='number' name='age' id='age' class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type='password' name='password' id='password' class="form-control" required />
      </div>
      <div class="container w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-25">Registrarte</button>
      </div>
  </form>
</div>